<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet" />
    <title>Tailwind Test</title>
</head>

<body>
    <!-- Hero Section -->
    <div
        class="w-full h-screen bg-[url('../../images/modern-living-room-interior-2021-09-02-08-41-17-utc@2x.png')] bg-cover tablet:bg-center">
        <!-- Header -->
        <header class="w-full flex justify-between py-[20px] laptop:py-[40px] laptop:px-[100px] px-[20px]">
            <h1 class="text-4xl font-bold text-white">FurniShop</h1>
            <nav class="hidden tablet:flex gap-[64px]">
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Home</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">About</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Features</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Contact</a>
            </nav>
        </header>
        <!-- Content -->
        <div class="w-full flex h-2/3  flex-col gap-3 justify-center items-center">
            <h1 class="text-[24px] tablet:text-[64px] text-white font-semibold text-center leading-tight">
                Creative Home Simpify your <br> Furniture
            </h1>
            <p class="text-[14px] tablet:text-[20px] w-3/4 laptop:w-1/2 text-center text-white">Do i have consent to
                record this
                meeting gain locaion,
                root-and-branch,
                review, nor
                game plan who’s the
                goto</p>
            <button
                class="bg-[#E2E2E266] mt-10 text-white text-[20px] font-semibold rounded-[10px] backdrop-blur-[30px] py-4 px-20 transition-all duration-300 hover:bg-[#ffffff33] hover:shadow-lg hover:scale-[1.02]">
                Shop Now
            </button>

        </div>
    </div>
    <!-- Grid -->
    <div class="w-full  bg-gradient-to-t from-white to-[#22211e]">
        <div
            class="w-[90%] mx-auto tablet:h-[180px] h-[273px] grid grid-cols-2 tablet:grid-cols-4 rounded-[20px] tablet:-mt-[50px] bg-[#286f6c]">
            <div class="flex h-min my-auto flex-col justify-center items-center text-white text-center border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">7</h4>
                <p class="text-[14px] tablet:text-[20px]">Year <br> Experience</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center h-min my-auto tablet:border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">2</h4>
                <p class="text-[14px] tablet:text-[20px]">Opened in <br> the country</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center h-min my-auto border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">10k+</h4>
                <p class="text-[14px] tablet:text-[20px]">Furniture <br> sold</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">260+</h4>
                <p class="text-[14px] tablet:text-[20px]">Variant <br> Furniture</p>
            </div>
        </div>
    </div>
    <!-- section Tow -->
    <div class="w-full p-10 tablet:p-20 flex flex-col-reverse gap-5 tablet:gap-0 tablet:flex-row justify-between">
        <div class="w-full tablet:w-1/2"> <img src="../../images/lui-peng-8NxTrV6i4WQ-unsplash 1.png" width="550"
                alt=""></div>
        <div class="w-full tablet:w-1/2 flex flex-col tablet:gap-0 gap-4 justify-between">
            <h2 class=" text-[24px] tablet:text-[40px] font-semibold">We Create your home more aestetic</h2>
            <p class="tablet:text-[20px] text-[14px]">Furnitre power is a software as services for multiperpose business
                management system, </p>
            <div class="w-full flex flex-row gap-3">
                <div class="w-6 h-6">
                    <img src="../../images/Shape.png" width="24" height="24" alt="current">
                </div>
                <div class=" flex flex-col gap-2">
                    <h2 class="text-base text-[#23262f] tablet:text-xl font-semibold">Valuation Services</h2>
                    <p class="text-[#23262F] text-base tablet:text-sm">Sometimes features require a short description.
                        This can be detailed
                        description</p>
                </div>

            </div>
            <div class="w-full flex flex-row gap-3">
                <div class="w-6 h-6">
                    <img src="../../images/Shape.png" width="24" height="24" alt="current">
                </div>
                <div class=" flex flex-col gap-2">
                    <h2 class="text-base text-[#23262f] tablet:text-xl font-semibold">Valuation Services</h2>
                    <p class="text-[#23262F] text-base tablet:text-sm">Sometimes features require a short description.
                        This can be detailed
                        description</p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>