<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet" />
    <title>Tailwind Test</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <!-- Hero Section -->
    <div
        class="w-full h-screen bg-[url('../../images/modern-living-room-interior-2021-09-02-08-41-17-utc@2x.png')] bg-cover tablet:bg-center">
        <!-- Header -->
        <header class="w-full flex justify-between py-[20px] laptop:py-[40px] laptop:px-[100px] px-[20px]">
            <h1 class="text-4xl font-bold text-white">FurniShop</h1>
            <nav class="hidden tablet:flex gap-[64px]">
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Home</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">About</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Features</a>
                <a href="#" class="text-white transition-all duration-200 text-[16px] hover:text-gray-300">Contact</a>
            </nav>
        </header>
        <!-- Content -->
        <div class="w-full flex h-2/3  flex-col gap-3 justify-center items-center">
            <h1 class="text-[24px] tablet:text-[64px] text-white font-semibold text-center leading-tight">
                Creative Home Simpify your <br> Furniture
            </h1>
            <p class="text-[14px] tablet:text-[20px] w-3/4 laptop:w-1/2 text-center text-white">Do i have consent to
                record this
                meeting gain locaion,
                root-and-branch,
                review, nor
                game plan who’s the
                goto</p>
            <button
                class="bg-[#E2E2E266] mt-10 text-white text-[20px] font-semibold rounded-[10px] backdrop-blur-[30px] py-4 px-20 transition-all duration-300 hover:bg-[#ffffff33] hover:shadow-lg hover:scale-[1.02]">
                Shop Now
            </button>

        </div>
    </div>

    <!-- Grid -->
    <div class="w-full bg-gradient-to-t from-white to-[#22211e]">
        <div
            class="w-[90%] mx-auto tablet:h-[180px] h-[273px] grid grid-cols-2 tablet:grid-cols-4 rounded-[20px] tablet:-mt-[50px] bg-[#286f6c]">
            <div class="flex h-min my-auto flex-col justify-center items-center text-white text-center border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">7</h4>
                <p class="text-[14px] tablet:text-[20px]">Year <br> Experience</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center h-min my-auto tablet:border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">2</h4>
                <p class="text-[14px] tablet:text-[20px]">Opened in <br> the country</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center h-min my-auto border-r">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">10k+</h4>
                <p class="text-[14px] tablet:text-[20px]">Furniture <br> sold</p>
            </div>
            <div class="flex flex-col justify-center items-center text-white text-center">
                <h4 class="text-[24px] tablet:text-[40px] font-semibold">260+</h4>
                <p class="text-[14px] tablet:text-[20px]">Variant <br> Furniture</p>
            </div>
        </div>
    </div>

    <!-- section Tow -->
    <div class="w-full p-10 tablet:p-20 flex flex-col-reverse gap-5 tablet:gap-3 tablet:flex-row justify-between">
        <div class="w-full rounded-lg overflow-hidden tablet:w-1/2"> <img
                src="../../images/lui-peng-8NxTrV6i4WQ-unsplash 1.png" width="550" alt=""></div>
        <div class="w-full tablet:w-1/2 flex flex-col tablet:gap-0 gap-4 justify-between">
            <h2 class=" text-[24px] tablet:text-[40px] font-semibold">We Create your home more aestetic</h2>
            <p class="tablet:text-[20px] text-[14px]">Furnitre power is a software as services for multiperpose business
                management system, </p>
            <div class="w-full flex flex-row gap-3">
                <div class="w-6 h-6">
                    <img src="../../images/Shape.png" width="24" height="24" alt="current">
                </div>
                <div class=" flex flex-col gap-2">
                    <h2 class="text-base text-[#23262f] tablet:text-xl font-semibold">Valuation Services</h2>
                    <p class="text-[#23262F] text-base tablet:text-sm">Sometimes features require a short description.
                        This can be detailed
                        description</p>
                </div>

            </div>
            <div class="w-full flex flex-row gap-3">
                <div class="w-6 h-6">
                    <img src="../../images/Shape.png" width="24" height="24" alt="current">
                </div>
                <div class=" flex flex-col gap-2">
                    <h2 class="text-base text-[#23262f] tablet:text-xl font-semibold">Valuation Services</h2>
                    <p class="text-[#23262F] text-base tablet:text-sm">Sometimes features require a short description.
                        This can be detailed
                        description</p>
                </div>

            </div>
        </div>
    </div>

    <!-- section Three -->
    <div class="w-full p-10 tablet:p-20 flex flex-col tablet:flex-row">
        <div class="flex flex-row tablet:flex-col tablet:gap-0 gap-5 justify-between items-start">
            <h5 class="text-[24px] tablet:text-[40px] font-semibold">New In <br> Store Now</h5>
            <p class="text-[14px] tablet:text-[16px] w-1/2 tablet:w-2/3">Get the latest items immediately with promo
                prices</p>
            <button
                class="hidden gap-2 items-center text-[16px] underline font-medium tablet:flex text-gray-800 hover:text-black group transition-all duration-300">
                Check All
                <span class="transition-transform duration-300 group-hover:translate-x-1">
                    <img src="../../images/Arrow 8.png" alt="arrow" />
                </span>
            </button>

        </div>
        <div class="flex flex-1 overscroll-y-scroll flex-row gap-3 h-[350px]">
            <!-- Card 1 -->
            <div class=" relative overflow-hidden rounded-md h-full">
                <img src="../../images/lui-peng-8NxTrV6i4WQ-unsplash.png"
                    class="h-full cursor-pointer hover:scale-105 transition-all duration-200" alt="img-1">
                <h5
                    class="text-white font-semibold tablet:text-[28px] text-[18px] absolute right-1/2 translate-x-1/2 bottom-3 z-10">
                    Chair
                </h5>
            </div>
            <!-- Card 2 -->
            <div class=" relative overflow-hidden rounded-md h-full">
                <img src="../../images/erik-mclean-Ij9nIghkI6k-unsplash.png"
                    class="h-full cursor-pointer hover:scale-105 transition-all rounded-lg overflow-hidden duration-200"
                    alt="img-1">
                <h5
                    class="text-white font-semibold tablet:text-[28px] text-[18px] absolute right-1/2 translate-x-1/2 bottom-3 z-10">
                    bad
                </h5>
            </div>
            <!-- Card 3 -->
            <div class=" relative overflow-hidden rounded-md h-full">
                <img src="../../images/sanibell-bv-g01h0WtY22s-unsplash.png"
                    class="h-full cursor-pointer hover:scale-105 transition-all duration-200" alt="img-1">
                <h5
                    class="text-white font-semibold tablet:text-[28px] text-[18px] absolute right-1/2 translate-x-1/2 bottom-3 z-10">
                    Cupboard
                </h5>
            </div>
            <!-- Card 4 -->
            <div class=" relative overflow-hidden rounded-md h-full">
                <img src="../../images/jean-philippe-delberghe-Ry9WBo3qmoc-unsplash.png"
                    class="h-full cursor-pointer hover:scale-105 transition-all duration-200" alt="img-1">
                <h5
                    class="text-white font-semibold tablet:text-[28px] text-[18px] absolute right-1/2 translate-x-1/2 bottom-3 z-10">
                    Lighting
                </h5>
            </div>
        </div>
    </div>

    <!-- section four -->
    <div
        class="w-full p-10 tablet:p-20 flex flex-col-reverse tablet:gap-0 tablet:flex-row-reverse justify-center gap-5">
        <div class="w-full tablet:w-1/2"> <img src="../../images/image 1.png" width="550" alt=""></div>
        <div class="w-full tablet:w-1/2 flex flex-col tablet:gap-0   justify-start">
            <h2 class=" text-[24px] tablet:text-[40px] font-semibold mt-4">The Best Furniture <br> Manufacturer of your
                choice
            </h2>
            <p class="tablet:text-[20px] text-[14px] mt-10">Furnitre power is a software as services for multiperpose
                business
                management system, expecially for them who are running two or more business exploree the future Furnitre
                power is a software as services \ </p>

        </div>
    </div>

    <!-- Section all Products -->
    <div class=" p-10 tablet:p-20 w-full flex flex-col gap-4 justify-center items-center">
        <h1 class="tablet:text-[40px] text-[24px] font-semibold">All Product</h1>
        <p class="tablet:text-[16px] text-[14px] w-full tablet:w-3/5 text-center">
            The products we provide only for you as
            our service are selected from
            the
            best products with number 1 quality in the world</p>
        <!-- loop product -->
        <div id="productsContainer" class="w-full grid grid-cols-2 tablet:grid-cols-4 laptop:grid-cols-5 gap-4"></div>
        <div class="w-full flex gap-2 justify-center items-center py-6">
            <img src="../../images/icons/arrow-right (1).png" alt="" class="mx-4">
            <span class="w-[10px] h-[10px] bg-black rounded-full"></span>
            <span class="w-[10px] h-[10px] border border-black rounded-full"></span>
            <span class="w-[10px] h-[10px] border border-black rounded-full"></span>
            <span class="w-[10px] h-[10px] border border-black rounded-full"></span>
            <span class="w-[10px] h-[10px] border border-black rounded-full"></span>
            <img src="../../images/icons/arrow-right.png" alt="" class="mx-4">
        </div>
    </div>

    <!-- section Report Customers -->
    <div
        class="w-full p-10 tablet:p-20 flex flex-col-reverse tablet:gap-0 tablet:flex-row-reverse justify-center gap-5">
        <div class="w-full tablet:w-1/2"> <img src="../../images/Rectangle 925.png" width="550"
                class="rounded-lg overflow-hidden"></div>
        <div class="w-full tablet:w-1/2 flex flex-col tablet:gap-4 gap-2 justify-start">
            <h2 class=" text-[24px] tablet:text-[40px] font-semibold mt-4">What people are saying about us
            </h2>
            <div class="flex gap-3 items-center">
                <div class="w-[80px] h-[80px] rounded-full overflow-hidden"> <img
                        src="../../images/customers/Ellipse 202.png" alt=""></div>
                <div class="flex flex-col gap-1">
                    <h4 class="tablet:text-[20px] font-semibold text-[14px]">Josh Smith</h4>
                    <p class="tablet:text-[14px] text-[#919397] text-[10px]">Manager of The New York Times</p>
                </div>
            </div>
            <p class="tablet:text-[20px] w-[90%] text-[14px]">“They are have a perfect touch for make something so
                professional ,interest and useful for a lot of
                people .”</p>

            <div class="flex gap-5">
                <button class="rotate-180 w-[50px] h-[50px] flex justify-center items-center"><img
                        src="../../images/icons/arrow-right.png" alt=""></button>
                <button
                    class="rounded-full bg-[#286f6c] w-[50px] hover:scale-105 transition-all duration-200 h-[50px] flex justify-center items-center"><img
                        src="../../images/icons/arrow-right (2).png" alt="arrow"></button>
            </div>

        </div>
    </div>

    <script type="module" src="../../dist/scripts/projects.js"></script>

</body>

</html>